<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container" data-aos="fade-right">
      <div class="row">

        <div class="col-lg-3 col-md-4">
          <div class="footer-info">
            <img src="../../assets/foodSlider/Foodcognics-Logo.png">
            <p>
              Shop no 101, Opulent central park, <br/>shewalewadi chowk, solapur-hadapsar road, <br/>Pune-412132<br>
            </p>
            <div class="social-links mt-3">
              <a href="https://twitter.com/FoodCognics" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://www.facebook.com/foodcognics/" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/foodcognics_foodconsultant/?hl=en" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="https://youtube.com/@foodcognics9031" class="youtube"><i class="bx bxl-youtube"></i></a>
              <a href="https://www.linkedin.com/company/foodcognics/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 info" (click)="scrollToTop()" data-aos="fade-up" data-aos-duration="1000">
          <h4>Services</h4>
          <a routerLink="services/turnkeyProjectSetup/DPR"><span>Turnkey Project Setup</span></a><br/>
          <a routerLink="services/newProductDevelopment"><span>New Product Development</span></a><br/>
          <a routerLink="services/licensingRegulatoryServices/mandatory/FSSAI"><span>Licensing & Regulatory Services</span></a><br/>
          <a routerLink="services/financialServices/DPR"><span>Financial Services</span></a><br/>
          <a routerLink="services/technicalServices"><span>Technical Services</span></a><br/>
          <a routerLink="services/governmentSchemas/MoFPI"><span>Government Schemes & Subsidy</span></a><br/>
          <a routerLink="services/auditingTrainingServices/Food-Safety-Audits"><span>Auditing & Training Services</span></a><br/>
          <a routerLink="services/valueAddedService/Monthly-Advisory-Services"><span>Value Added Services</span></a><br/>
        </div>

        <div class="col-lg-3 col-md-4 info">
          <h4>Contact Us</h4>
          <div class="contact">
         <span> <i class='bx bxs-phone-call' style="margin-right: 8px; color: orange;"></i><strong style="font-size: 18px;">+91 7218024999</strong></span><br/>
         <span> <i class='bx bx-envelope' style="color: orange;"></i>foodcognics@gmail.com</span><br/>
         <span><i class='bx bxs-calendar' style="color: orange;"></i>Monday - Saturday</span><br/>
         <span><i class='bx bxs-time' style="color: orange;"></i>10:00 AM. – 06:00 PM.</span><br/>
        </div>
        </div>
        
      </div>
    </div>
  </div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center active"><i class="bi bi-arrow-up-short"></i></a>
</footer>
<!-- End Footer -->

<div class="footer_bottom">
  <div class="first_half">
    Copyright © 2023 <a href="https://foodcognics.com/">foodcognics.com</a> - All rights reserved.
  </div>
  <div class="second_half">
    <span>Terms and Conditions</span> |
    <span>Privacy Policy</span> |
  </div>
</div>
