<carousel>
  <h3>Testimonial</h3>
  <slide>
    <div class="test-container" data-aos="fade-up">
      <div class="testimonial-section">
        <div class="testimonial">
          <div class="testimonial-card">
            <div class="profile">
              <img src="../../assets/testimonials/test2.jpg" alt="" />
            </div>
            <div class="rating-section">
              <img src="../../assets/testimonials/star (1).png" />
              <img src="../../assets/testimonials/star (1).png" />
              <img src="../../assets/testimonials/star (1).png" />
              <img src="../../assets/testimonials/star (1).png" />
              <img src="../../assets/testimonials/star (1).png" />
            </div>
            <div class="card-body">
              <p class="person-text">
                FoodCognics Team has exceptional knowledge in the field of
                Frozen RTE Plant setup and commissioning. His pragmatic behavior
                has helps us in setting up a world-class level facility within a
                5000 sqft area. He is always ready to share his real-life
                experience as a result we developed a very close relationship.
                Even after the assignment completion he still continues to guide
                us on various aspect like Brand development.
              </p>
              <p>Owner</p>
              <p class="company-text">Taucies Food</p>
            </div>
          </div>

          <div class="testimonial-card">
            <div class="profile">
              <img src="../../assets/testimonials/Test1.jpg" alt="" />
            </div>
            <div class="rating-section">
              <img src="../../assets/testimonials/star (1).png" />
              <img src="../../assets/testimonials/star (1).png" />
              <img src="../../assets/testimonials/star (1).png" />
              <img src="../../assets/testimonials/star (1).png" />
              <img src="../../assets/testimonials/star (1).png" />
            </div>
            <div class="card-body">
              <p class="person-text">
                We have been associated with Food Cognics since 4 years. They
                helpedus for new product development and formulation, contract
                manufacturing identification and production assistance. We are
                happy with the services provided by FoodCognics. Awesome team
                spirit,... Really appreciated.
              </p>
              <p>Dr. Rajendra (Director)</p>
              <p class="company-text">Ramzi Foods</p>
            </div>
          </div>

          <div class="testimonial-card">
            <div class="profile">
              <img src="../../assets/testimonials/test3.jpg" alt="" />
            </div>
            <div class="rating-section">
              <img src="../../assets/testimonials/star (1).png" />
              <img src="../../assets/testimonials/star (1).png" />
              <img src="../../assets/testimonials/star (1).png" />
              <img src="../../assets/testimonials/star (1).png" />
              <img src="../../assets/testimonials/star (1).png" />
            </div>
            <div class="card-body">
              <p class="person-text">
                I was looking for startup the new manufacturing plant for fruits
                and vegetable processing. FoodCognics provided the right
                solution and guided us how to enter in food sector without
                investing on Machinery. We launched the products through contact
                manufacturing under the guidance of FC team.
              </p>
              <p>Mr. Aditya Karanikar (Director)</p>
              <p class="company-text">Mallows Food</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </slide>

<!-- slide 2 -->
 
<slide>
  <div class="test-container" data-aos="fade-up">
    <div class="testimonial-section">
      <div class="testimonial">
        <div class="testimonial-card">
          <div class="profile">
            <!-- <img src="../../assets/about/parkImg.jpg" alt="" /> -->
          </div>
          <div class="rating-section">
            <img src="../../assets/testimonials/star (1).png" />
            <img src="../../assets/testimonials/star (1).png" />
            <img src="../../assets/testimonials/star (1).png" />
            <img src="../../assets/testimonials/star (1).png" />
            <img src="../../assets/testimonials/star (1).png" />
          </div>
          <div class="card-body">
            <p class="person-text">
               We appreciate FOODCOGNICS team for the outstanding service
                provided by. We were searching for the professional consultant
                for our manufacturing unit of MESMERIK FOOD PRODUCTS for FSSAI
                Central License. We pleased with the knowledge and skill of your
                staff. The staff was incredibly friendly & helpful. Great
                service makes your customers feel that you care about developing
                a long-term relationship.I would love to recommend your company
                to anyone who needs service in food technology and services and
                I will surely take your relationship for long term.
            </p>
            <p>MESMERIK FOOD PRODUCTS</p>
            <p class="company-text"></p>
          </div>
        </div>

        <div class="testimonial-card">
          <div class="profile">
            <img src="../../assets/about/parkImg.jpg" alt="" />
          </div>
          <div class="rating-section">
            <img src="../../assets/testimonials/star (1).png" />
            <img src="../../assets/testimonials/star (1).png" />
            <img src="../../assets/testimonials/star (1).png" />
            <img src="../../assets/testimonials/star (1).png" />
            <img src="../../assets/testimonials/star (1).png" />
          </div>
          <div class="card-body">
            <p class="person-text">
              FoodCognics has an incredible gift for making the complex appear
                simple and without being simplistic. Team of FoodCognics is a
                pleasure to work with and always delivers to an exceptionally
                high standard as well as consults impeccably to understand
                business / startups needs and then brings innovative business
                relevant ideas and solutions to the table. Mr.Gajanan Kalyane
                will challenge your thinking, provide you with alternative
                perspectives and, where appropriate, actively.
            </p>
            <p>Mr. Vijaykumar Chole</p>
            <p class="company-text">Vice President Satara Mega Food Park</p>
          </div>
        </div>

        <div class="testimonial-card">
          <div class="profile">
            <img src="../../assets/testimonials/1.jpg" alt="" />
          </div>
          <div class="rating-section">
            <img src="../../assets/testimonials/star (1).png" />
            <img src="../../assets/testimonials/star (1).png" />
            <img src="../../assets/testimonials/star (1).png" />
            <img src="../../assets/testimonials/star (1).png" />
            <img src="../../assets/testimonials/star (1).png" />
          </div>
          <div class="card-body">
            <p class="person-text">
              Our experience with FoodCognics has been very good. Being a new
              brand, we had a lot of questions and doubts, but everyone from
              FoodCognics were patient enough to answer our smallest of
              queries. Ganesh, Manisha, Dhanshree and all other people had the
              total knowledge of the food Industry.From Consultation on
              Stability, solubility of the product to Providing the
              alternatives to the ingredients, to the labelling suggestions as
              per the FSSAI guidelines, they did everything very
              professionally. Totally happy with the team at FoodCognics.
            </p>
            <p>Sheeza Kazmis</p>
            <p class="company-text">(Co-Founder-Rooted Peepul)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</slide>
  <!-- slide 3 -->
  <slide>
    <div class="test-container" data-aos="fade-up">
      <div class="testimonial-section">
        <div class="testimonial">
          <div class="testimonial-card">
            <div class="profile">
              <!-- <img src="../../assets/testimonials/Test1.jpg" alt="" style="margin-top:89px;"/> -->
            </div>
            <div class="rating-section">
              <img src="../../assets/testimonials/star (1).png" />
              <img src="../../assets/testimonials/star (1).png" />
              <img src="../../assets/testimonials/star (1).png" />
              <img src="../../assets/testimonials/star (1).png" />
              <img src="../../assets/testimonials/star (1).png" />
            </div>
            <div class="card-body">
              <p class="person-text">
                We have been associated with FoodCognics from last one year.
                They consult every necessary steps to take care for starting a
                food business in terms of Market Strategy, FSSAI Regulatory,
                Packaging Solutions and Branding. We are happy and satisfied
                with the services. Looking forward to same in future.
              </p>
              <p>Mr. Aditya Waje (Owner)
              </p>
              <p class="company-text">Kalawati Agrotech
              </p>
            </div>
          </div>
  
          <div class="testimonial-card">
            <div class="profile">
              <!-- <img src="../../assets/testimonials/test5.png" alt="" /> -->
            </div>
            <div class="rating-section">
              <img src="../../assets/testimonials/star (1).png" />
              <img src="../../assets/testimonials/star (1).png" />
              <img src="../../assets/testimonials/star (1).png" />
              <img src="../../assets/testimonials/star (1).png" />
              <img src="../../assets/testimonials/star (1).png" />
            </div>
            <div class="card-body">
              <p class="person-text"></p>
              <p class="company-text"></p>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </slide>
<!--  -->
</carousel>


