<div *ngIf="selectedItem === 'FSSAI'">
  <div class="container" data-aos="fade-right">
  <div class="content">
    <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image" />
  </div>
  <div>
    <div class="project-details">
      <h1>FSSAI</h1>

      <div class="section">
        <i class="bx bxs-chevron-right-circle"></i>
        <p>Central</p>
        <i class="bx bxs-chevron-right-circle"></i>
        <p>State</p>
        <i class="bx bxs-chevron-right-circle"></i>
        <p>Registration</p>
      </div>
    </div>
  </div>
</div>
</div>
<!--  -->
<div *ngIf="selectedItem === 'Legal-Metrology'">
  <div class="container" data-aos="fade-right">
    <div class="content">
      <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image" />
    </div>
    <div>
      <div class="project-details">
        <h1>Legal Metrology</h1>
        Kind of Business <br/><br/>
        <div class="section">
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Manufacturing</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Relabelling</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Repacker</p>
        </div>
      </div>
    </div>
  </div>
  </div>
<!--  -->
<div *ngIf="selectedItem === 'Vegan-Product-Approved-By-FSSAI'">
  <div class="container" data-aos="fade-right">
    <div class="content">
      <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image" />
    </div>
    <div>
      <div class="project-details">
        <h1>Vegan Product Approved By FSSAI</h1>
        Kind of Business<br/><br/>
        <div class="section">
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Manufacturer</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Trader</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Importer/Exporter</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Distributor</p>
        </div>
      </div>
    </div>
  </div>
  </div>
<!--  -->
<!--  -->
<div *ngIf="selectedItem === 'Land-Acquisition'">
  <div class="container" data-aos="fade-right">
    <div class="content">
      <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image" />
    </div>
    <div>
      <div class="project-details">
        <h1>Land Acquisition</h1>
        <div class="section">
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Assisting in considering parameter for selecting location</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Act as co-ordinating link between Two parties</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Assiting in finalizing Terms & Conditions</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Documentation</p>
        </div>
      </div>
    </div>
  </div>
  </div>
<!--  -->
<!--  -->
<div *ngIf="selectedItem === 'Energy-Audit'">
  <div class="container" data-aos="fade-right">
    <div class="content">
      <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image" />
    </div>
    <div>
      <div class="project-details">
        <h1>Energy Audit</h1>
        <div class="section">
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Assistance in Transfering ownership</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Contract </p>
        </div>
      </div>
    </div>
  </div>
  </div>
<!--  -->
<!--  -->
<div *ngIf="selectedItem === 'Organic-Certification'">
  <div class="container" data-aos="fade-right">
    <div class="content">
      <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image" />
    </div>
    <div>
      <div class="project-details">
        <h1>Organic Certification</h1>
        <div class="section">
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Organic production System Plan</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>NPO's Standard for Organic Crop Production</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Necessory Documentation</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Application Process</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Follow up</p>
        </div>
      </div>
    </div>
  </div>
  </div>
<!--  -->
<!--  -->
<div *ngIf="selectedItem === 'ISO-Certification'">
  <div class="container" data-aos="fade-right">
    <div class="content">
      <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image" />
    </div>
    <div>
      <div class="project-details">
        <h1>ISO/FSSC Certification</h1>
        <div class="section">
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Right catergorization of ISO Standards</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Choosing AN iso Certification Body </p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Documentation</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Enroll / Application</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Follow Up</p>
        </div>
      </div>
    </div>
  </div>
  </div>
<!--  -->

