<div class="container" data-aos="fade-right">
    <div class="content">
    <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image" />
  </div>
  <div>
    <div class="project-details">
      <h1>Technical services</h1>

      <div class="section">
        <i class="bx bxs-chevron-right-circle"></i>
        <p>Project profile</p>
        <i class="bx bxs-chevron-right-circle"></i>
        <p>Project finance</p>
        <i class="bx bxs-chevron-right-circle"></i>
        <p>Bankable project report</p>
        <i class="bx bxs-chevron-right-circle"></i>
        <p>Feasibility study</p>
        <i class="bx bxs-chevron-right-circle"></i>
        <p>Techno-economic study</p>
      </div>
    </div>
  </div>
</div>
