<div *ngIf="selectedItem === 'Food-Safety-Audits'">
  <div class="container" data-aos="fade-right">
  <div class="content">
    <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image" />
  </div>
  <div>
    <div class="project-details">
      <h1>Food Safety Audits</h1>

      <div class="section">
        <i class="bx bxs-chevron-right-circle"></i>
        <p>Regulatory Compliance Audits</p>
        <i class="bx bxs-chevron-right-circle"></i>
        <p>HACCP (Hazard Analysis and Critical Control Points) Audits</p>
        <i class="bx bxs-chevron-right-circle"></i>
        <p>GMP (Good Manufacturing Practices) Audits</p>
        <i class="bx bxs-chevron-right-circle"></i>
        <p>Supplier Audits</p>
        <i class="bx bxs-chevron-right-circle"></i>
        <p>Documentation Review</p>
        <i class="bx bxs-chevron-right-circle"></i>
        <p>Training and Education Audits</p>
        <i class="bx bxs-chevron-right-circle"></i>
        <p>Food Defense Audits</p>
        <i class="bx bxs-chevron-right-circle"></i>
        <p>Continuous Improvement Recommendations</p>
      </div>
    </div>
  </div>
</div>
</div>
<!--  -->
<div *ngIf="selectedItem === 'Manufacturing-Audits'">
  <div class="container" data-aos="fade-right">
    <div class="content">
      <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image" />
    </div>
    <div>
      <div class="project-details">
        <h1>Manufacturing Audits</h1>
  
        <div class="section">
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Quality Management System (QMS) Audits</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Process Audits</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Equipment and Machinery Audits</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Environmental Health and Safety (EHS) Audits</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Energy Efficiency Audits</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Inventory and Materials Management Audits</p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!--  -->
  <div *ngIf="selectedItem === 'Vendor-Audit'">
    <div class="container" data-aos="fade-right">
      <div class="content">
        <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image" />
      </div>
      <div>
        <div class="project-details">
          <h1>Vendor Audit</h1>
    
          <div class="section">
            <i class="bx bxs-chevron-right-circle"></i>
            <p>Supplier Qualification Audits</p>
            <i class="bx bxs-chevron-right-circle"></i>
            <p>Supply Chain Security Audits</p>
            <i class="bx bxs-chevron-right-circle"></i>
            <p>Data Security Audits</p>
            <i class="bx bxs-chevron-right-circle"></i>
            <p>Continuous Improvement Recommendations</p>
            <i class="bx bxs-chevron-right-circle"></i>
            <p>Training and Competency Audits</p>
          </div>
        </div>
      </div>
    </div>
    </div>
<!--  -->
  <div *ngIf="selectedItem === 'Organic-Certification-Training'">
    <div class="container" data-aos="fade-right">
      <div class="content">
        <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image" />
      </div>
      <div>
        <div class="project-details">
          <h1>Organic Certification Training</h1>
    
          <div class="section">
            <i class="bx bxs-chevron-right-circle"></i>
            <p>Customized Training Programs</p>
            <i class="bx bxs-chevron-right-circle"></i>
            <p>On-Site Workshops and Demonstrations</p>
            <i class="bx bxs-chevron-right-circle"></i>
            <p>Continuous Education and Updates</p>
          </div>
        </div>
      </div>
    </div>
    </div>