<div *ngIf="selectedItem === 'DPR'">
  <div class="container" data-aos="fade-right">
    <div class="content">
      <img src="../../../assets/about/financialDPR.jpg" alt="Project Image" />
    </div>
    <div>
      <div class="project-details">
        <h1>DPR</h1>
        <div class="section">
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Ideation and nuturing the Product</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Survellence and Raw material data hunting</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Assistance in selecting the product</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Capacity finalization & Budgetory estmation of project</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Value Engineering</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Design Engineering</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Machinery specification assistance</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Production process Roadmap</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Machineries ,Utilities Financials</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Market Entry Strategy</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Market Linkage</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Human Resource Calculation</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Business Financial</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div *ngIf="selectedItem === 'Feasibility-Study-Report'">
  <div class="container" data-aos="fade-right">
    <div class="content">
      <img src="../../../assets/about/financial_feasibility.jpg" alt="Project Image" />
    </div>
    <div>
      <div class="project-details">
        <h1>Feasibility Study Report</h1>

        <div class="section">
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Support in Estimating total project cost</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Guidance in Finalizing finance</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Analysing Financial Viability</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Backing in competitors study.</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Exploring New Opportunities for Products</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div *ngIf="selectedItem === 'Techno-Economic-Viability-Study-Report'">
  <div class="container" data-aos="fade-right">
    <div class="content">
      <img src="../../../assets/about/financial_feasibility.jpg" alt="Project Image" />
    </div>
    <div>
      <div class="project-details">
        <h1>Techno Economic Viability Study Report</h1>

        <div class="section">
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Identification of the risk associated with product.</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Forming risk mitigation strategies.</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Evaluating the financial risks.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div *ngIf="selectedItem === 'financialServices'">
  <div class="container" data-aos="fade-right">
    <div class="content">
      <img style="margin-left: 0;"
        src="../../../assets/about/financialDPR.jpg"
        alt="Project Image"
      />
    </div>
    <div>
      <div class="project-details">
        <h1 style="margin-left: 17px">financial Services</h1>
        <div class="section">
          <p style="text-align: justify; margin-top: 8px">
            Financial services encompass a broad range of economic activities
            that involve the management of money, assets, and financial
            transactions. These services are provided by various institutions,
            including banks, credit unions, insurance companies, investment
            firms, and other financial intermediaries. The primary goal of
            financial services is to help individuals, businesses, and
            governments manage their financial resources efficiently and achieve
            their financial objectives.
          </p><br/>
          <h5>A Detailed Project Report (DPR)</h5><br/>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>
            <strong>DPR Overview: </strong>-Comprehensive document for proposed projects.<br/>
            -Acts as a roadmap for implementation.
          </p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>
            <strong>Usage in Industries: </strong>-Commonly employed in infrastructure, construction, and manufacturing.<br/>
            -Especially for large-scale projects.
          </p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>
            <strong>Stakeholder Importance: </strong>-Crucial tool for project stakeholders.<br/>
            -Used by investors, lenders, and government agencies.
            
          </p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>
            <strong>Feasibility Assessment: </strong>-Assesses project feasibility comprehensively.<br/>
            -Guides stakeholders in making informed decisions.
          </p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>
            <strong>Detail Variation: </strong>-Level of detail varies with project complexity.<br/>
            -Offers in-depth analysis of project elements.            
            delays
          </p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>
            <strong>Covered Elements: </strong>-Includes market analysis, technical details, financial projections.<br/>
            -Also addresses risk analysis, implementation schedule, organizational structure.<br/>
            -Examines regulatory approvals, social and environmental impact.
          </p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>
            <strong>Decision-Making Guide: </strong>-Guides decision-making processes for project approval or modifications.
          </p>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
