<div *ngIf="selectedItem === 'basis-of-design'">
  <div class="container" data-aos="fade-right">
    <div class="content">
      <img src="../../../../assets/sector/DPR.jpg" alt="Project Image" />
    </div>
    <div>
      <div class="project-details">
        <h1>Basis of Design</h1>
        <div class="section">
          <i class='bx bxs-chevron-right-circle'></i><p>Finalization of the Product</p>
          <i class='bx bxs-chevron-right-circle'></i><p>Raw Material Analysis</p>
          <i class='bx bxs-chevron-right-circle'></i><p>Assistance in Finalizing production Capacity</p>
          <i class='bx bxs-chevron-right-circle'></i><p>Selection of machinery according to capacity and budget</p>
          <i class='bx bxs-chevron-right-circle'></i><p>Finalizing the Manufacturing Process</p>
          <i class='bx bxs-chevron-right-circle'></i><p>Forward & Backward Linkage</p>
          <i class='bx bxs-chevron-right-circle'></i><p>Calculation of Manpower Requirement</p>
          <i class='bx bxs-chevron-right-circle'></i><p>Project Financials</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div *ngIf="selectedItem === 'Building-Design-Phase'">
  <div class="container" data-aos="fade-right">
    <div class="content">
      <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image" />
    </div>
    <div>
      <div class="project-details">
        <h1>Building Design Phase</h1>

        <div class="section">
          <i class="bx bxs-chevron-right-circle"></i>
          <p>preparation of Civil Layout</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Calculation of Civil Estimate</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Verification from Chartered Civil Engineer</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Modification in Existing Civil Layout</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<!--  -->
<div *ngIf="selectedItem === 'Land-Selection'">
  <div class="container" data-aos="fade-right">
    <div class="content">
      <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image" />
    </div>
    <div>
      <div class="project-details">
        <h1>Land Selection</h1>

        <div class="section">
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Assistance in Selecting plant location</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Assistance in Land Acquisition (MIDC,Mega Food Park)</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div *ngIf="selectedItem === 'Machinery-Selection'">
  <div class="container" data-aos="fade-right">
    <div class="content">
      <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image" />
    </div>
    <div>
      <div class="project-details">
        <h1>Machinery Selection</h1>

        <div class="section">
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Guidance for Adopting New technology</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Selection of Machinery According to Technolgy</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Identification of Suitable Supplier</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Budget Consideration</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Vendor Verification</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Financial Comparative study on Machinery.</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Supporting in Negotiation.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div *ngIf="selectedItem === 'Architectural-Service'">
  <div class="container" data-aos="fade-right">
    <!-- <div class="content">
      <img
        src="../../../../assets/sector/NPD.jpg"
        alt="Project Image"
      />
    </div> -->
    <div>
      <div class="project-details">
        <h1>Architectural Service</h1>

        <!-- <div class="section">
              <i class='bx bxs-chevron-right-circle'></i><p>Market Research</p>
              <i class='bx bxs-chevron-right-circle'></i><p>Ideation and Concept Development
            </p>
            <i class='bx bxs-chevron-right-circle'></i><p>Benchmark/Competitors Study</p>
            <i class='bx bxs-chevron-right-circle'></i><p>Estimation of Raw Material required for Production
          </p>
          <i class='bx bxs-chevron-right-circle'></i><p>Arrangement of raw materail for trials</p>
          <i class='bx bxs-chevron-right-circle'></i><p>Formulation of SOPs.
        </p>
        <i class='bx bxs-chevron-right-circle'></i><p>Prototype Development
        </p>
        <i class='bx bxs-chevron-right-circle'></i><p>Product Testing and Validation</p>
        <i class='bx bxs-chevron-right-circle'></i><p>Manufacturing Support
      </p>
      <i class='bx bxs-chevron-right-circle'></i><p>Cost Analysis and Value Engineering
      </p>
            </div> -->
      </div>
    </div>
  </div>
</div>
<!--  -->
<div *ngIf="selectedItem === 'Vendor-Selection-&-Management'">
  <div class="container" data-aos="fade-right">
    <div class="content">
      <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image" />
    </div>
    <div>
      <div class="project-details">
        <h1>Vendor Selection & Management</h1>

        <div class="section">
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Identification & Verification of Vendors</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Contract Negotiation</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Communication and Relationship Building</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div *ngIf="selectedItem === 'Site-supervision'">
  <div class="container" data-aos="fade-right">
    <div class="content">
      <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image" />
    </div>
    <div>
      <div class="project-details">
        <h1>Site supervision</h1>

        <div class="section">
          <i class="bx bxs-chevron-right-circle"></i>
          <p>weekly/Fortnightly/Monthly site visit</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>
            Expertise site visit.(Food Technologist,Project
            Co-ordinator,Engineers Etc.)
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div *ngIf="selectedItem === 'Preparation-Of-progress-report'">
  <div class="container" data-aos="fade-right">
    <div class="content">
      <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image" />
    </div>
    <div>
      <div class="project-details">
        <h1>Preparation Of progress report</h1>

        <div class="section">
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Evaluating the working of project</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->

<!--  -->
<div *ngIf="selectedItem === 'Value-Engineering'">
  <div class="container" data-aos="fade-right">
    <div class="content">
      <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image" />
    </div>
    <div>
      <div class="project-details">
        <h1>Value Engineering</h1>

        <div class="section">
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Machine Engineering</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Designing of utility space</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<!--  -->
<div *ngIf="selectedItem === 'Master-Project-Budget-preparation'">
  <div class="container" data-aos="fade-right">
    <div class="content">
      <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image" />
    </div>
    <div>
      <div class="project-details">
        <h1>Master Project Budget preparation</h1>

        <div class="section">
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Assistance in Financial Data Tracking</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div *ngIf="selectedItem === 'Preparation-of-Implementation-Schedule'">
  <div class="container" data-aos="fade-right">
    <div class="content">
      <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image" />
    </div>
    <div>
      <div class="project-details">
        <h1>Preparation of Implementation Schedule</h1>

        <div class="section">
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Formulating Road-map of project working</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<!--  -->
<div *ngIf="selectedItem === 'Documents-&-Handover-Procedures'">
  <div class="container" data-aos="fade-right">
    <div class="content">
      <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image" />
    </div>
    <div>
      <div class="project-details">
        <h1>Documents & Handover Procedures</h1>

        <div class="section">
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Guidance in Documentation</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div *ngIf="selectedItem === 'turnkeyProjectSetup'">
  <div class="container" data-aos="fade-right">
    <div class="content">
      <img style="margin-left: 65px;"
        src="../../../../assets/about/turnkey-setup.jpg"
        alt="Project Image"
      />
    </div>
    <div>
      <div class="project-details">
        <h1 style="margin-left: 68px">Turnkey Project Setup</h1>
        <div class="section" style="margin-left: 33px;">
          <p style="text-align: justify; margin-top: 8px;">
            A turnkey project setup refers to a project delivery approach in
            which a contractor or a project management company is responsible
            for the entire project from start to finish. The term "turnkey"
            signifies that the project is ready for use by the client once it is
            completed – the client just needs to "turn the key" to start using
            it. In a turnkey project setup, the contractor or project management
            company takes on the responsibility for the design, construction,
            and commissioning of the project. This includes everything from
            planning and design to procurement, construction, testing, and final
            delivery. The client, on the other hand, is typically only involved
            in the initial discussions, specifying their requirements, and then
            accepting the finished project.
          </p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>
            <strong>Point of Responsibility: </strong>The client deals with a
            single entity, the turnkey contractor, which takes full
            responsibility for the project's success.
          </p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>
            <strong>Client Involvement: </strong>The client's involvement in the
            day-to-day project activities is minimal. They are not required to
            manage the construction process but rather oversee the overall
            progress.
          </p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>
            <strong>Ready for Use: </strong> The project is delivered in a state
            where the client can immediately use it without further
            modifications or adjustments.
          </p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>
            <strong>Cost and Time Certainty: </strong>Turnkey projects often
            come with fixed costs and timelines, providing clients with a clear
            understanding of what to expect.
          </p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>
            <strong>Risk Transfer:</strong>The contractor assumes most of the
            risks associated with the project, including cost overruns and
            delays
          </p><br/>
        </div>
        <p>
          Turnkey project setups are common in various industries, including
          construction, real estate development, information technology, and
          manufacturing. They offer clients a convenient and relatively
          hands-off approach to project implementation, as they can rely on the
          expertise of the turnkey contractor to deliver a complete and
          functional solution. However, careful consideration of the
          contractor's qualifications and a well-defined initial agreement are
          crucial to the success of turnkey projects.
        </p>
      </div>
    </div>
  </div>
</div>
