<div *ngIf="selectedItem === 'MoFPI'">
  <div class="container" data-aos="fade-right">
    <div class="content">
      <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image" />
    </div>
    <div>
      <div class="project-details">
        <h1>MoFPI</h1>
        <h6>PMKSY Scheme</h6>

        <div class="section">
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Mega Food Parks</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Cold Chain</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>FP & Preservation Capacities</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Backward & Forward Linkages</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Agro Processing Cluster</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Food Safety & Quality Assurance</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Operation Green</p>
        </div>
        <br />
        <h6>PMKSY Scheme</h6>

        <div class="section">
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Upgradation of Individual Micro Processing Unit</p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Capacity Building & Training</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div *ngIf="selectedItem === 'MSME'">
  <div class="container" data-aos="fade-right">
    <div class="content">
      <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image" />
    </div>
    <div>
      <div class="project-details">
        <h1>MSME</h1>

        <div class="section">
          <i class="bx bxs-chevron-right-circle"></i>
          <p>Micro & Small Enterprises Cluster</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div *ngIf="selectedItem === 'APEDA'">
  <div class="container" data-aos="fade-right">
    <div class="content">
      <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image" />
    </div>
    <div>
      <div class="project-details">
        <h1>APEDA</h1>

        <div class="section">
          <i class="bx bxs-chevron-right-circle"></i>
          <p>
            SCHEME FOR EXTENDING FINANCIAL ASSISTANCE TO SUGAR MILLS FOR
            ENHANCEMENT AND AUGMENTATION OF ETHANOL PRODUCTION CAPACITY
          </p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>
            LOANS FOR FOOD PARKS AND FOOD PROCESSING UNITS IN DESIGNATED FOOD
            PARKS
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div *ngIf="selectedItem === 'NHB'">
  <div class="container" data-aos="fade-right">
    <div class="content">
      <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image" />
    </div>
    <div>
      <div class="project-details">
        <h1>NHB</h1>

        <div class="section">
          <i class="bx bxs-chevron-right-circle"></i>
          <p>
            Development of Commercial Horticulture through Production and
            Post-Harvest Management of Horticulture Crops.
          </p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>
            Construction/Expansion/Modernization of cold storage and storage for
            horticulture products
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div *ngIf="selectedItem === 'DAHD'">
  <div class="container" data-aos="fade-right">
    <div class="content">
      <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image" />
    </div>
    <div>
      <div class="project-details">
        <h1>DAHD</h1>

        <div class="section">
          <i class="bx bxs-chevron-right-circle"></i>
          <p>
            National Programme for Dairy Development
          </p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>
            Dairy Processing & Infrastructurea Development Fund
          </p>
          <i class="bx bxs-chevron-right-circle"></i>
          <p>
          Animal Husbandry Infrastructure Development Fund
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
