<!-- <h3>Testimonial</h3>
<div style="display: flex; margin-top:53px">
  <div class="testimonial-card">
    <div class="profile">
      <img src="../../assets/testimonials/download.png" alt="" />
    </div>
    <div class="rating-section">
      <img src="../../assets/testimonials/star (1).png" />
      <img src="../../assets/testimonials/star (1).png" />
      <img src="../../assets/testimonials/star (1).png" />
      <img src="../../assets/testimonials/star (1).png" />
      <img src="../../assets/testimonials/star (1).png" />
    </div>
    <div class="card-body">
      <p class="person-text">
        We have been associated with Food Cognics since 4 years. They helpedus
        for new product development and formulation, contract manufacturing
        identification and production assistance. We are happy with the services
        provided by FoodCognics. Awesome team spirit,... Really appreciated.
      </p>
      <p>Dr. Rajendra (Director)</p>
      <p class="company-text">Ramzi Foods</p>
    </div>
  </div>

  <div class="testimonial-card">
    <div class="profile">
      <img src="../../assets/testimonials/download.png" alt="" />
    </div>
    <div class="rating-section">
      <img src="../../assets/testimonials/star (1).png" />
      <img src="../../assets/testimonials/star (1).png" />
      <img src="../../assets/testimonials/star (1).png" />
      <img src="../../assets/testimonials/star (1).png" />
      <img src="../../assets/testimonials/star (1).png" />
    </div>
    <div class="card-body">
      <p class="person-text">
        FoodCognics has been and in valuable resource, providing a unique
        approach, support and direction for many projects. I believe FoodCognics
        strength has been the ability to make complex projects simple, immersing
        himself into my ways of working and providing solutions that meet both
        my needs and support the company’s long-term goals.
      </p>
      <p>Mr. Navalkishor sarda</p>
      <p class="company-text">(INDIAQO FOODS PVT LTD)</p>
    </div>
  </div>

  <div class="testimonial-card">
    <div class="profile">
      <img src="../../assets/testimonials/download.png" alt="" />
    </div>
    <div class="rating-section">
      <img src="../../assets/testimonials/star (1).png" />
      <img src="../../assets/testimonials/star (1).png" />
      <img src="../../assets/testimonials/star (1).png" />
      <img src="../../assets/testimonials/star (1).png" />
      <img src="../../assets/testimonials/star (1).png" />
    </div>
    <div class="card-body">
      <p class="person-text">
        I was looking for startup the new manufacturing plant for fruits and
        vegetable processing. FoodCognics provided the right solution and guided
        us how to enter in food sector without investing on Machinery. We
        launched the products through contact manufacturing under the guidance
        of FC team.
      </p>
      <p>Mr. Aditya Karanikar (Director)</p>
      <p class="company-text">Mallows Food</p>
    </div>
  </div>
</div> -->
