
<div class="container" data-aos="fade-right">
  <div class="content">
    <img src="../../../assets/sector/New Product Development (2).jpg" alt="Project Image" />
  </div>
  <div>
    <div class="project-details">
      <h1>New Product Development</h1>

      <div class="section">
        <i class="bx bxs-chevron-right-circle"></i>
        <p>Idea Generation & Nurturing</p>
        <i class="bx bxs-chevron-right-circle"></i>
        <p>Market Research</p>
        <i class="bx bxs-chevron-right-circle"></i>
        <p>Concept Development</p>
        <i class="bx bxs-chevron-right-circle"></i>
        <p>Competitors reseasrch</p>
        <i class="bx bxs-chevron-right-circle"></i>
        <p>Raw Material Arrangement</p>
        <i class="bx bxs-chevron-right-circle"></i>
        <p>Lab Scale trial</p>
        <i class="bx bxs-chevron-right-circle"></i>
        <p>Product Testing and Validation</p>
        <i class="bx bxs-chevron-right-circle"></i>
        <p>Prototyping and Design</p>
        <i class="bx bxs-chevron-right-circle"></i>
        <p>Regulatory Compliance</p>
        <i class="bx bxs-chevron-right-circle"></i>
        <p>Cost Estimation</p>
        <i class="bx bxs-chevron-right-circle"></i>
        <p>Documentation</p>
        <i class="bx bxs-chevron-right-circle"></i>
        <p>Shelf-Life Analysis</p>
        <i class="bx bxs-chevron-right-circle"></i>
        <p>Nutritional analysis & Claims</p>
      </div>
    </div>
  </div>
</div>
