<div *ngIf="selectedItem === 'Monthly-Advisory-Services'">
  <div class="container" data-aos="fade-right">
    <div class="content">
        <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image">
        </div>
      <div>
      <div class="project-details">
        <h1>Monthly Advisory Services
        </h1>
  
        <div class="section">
          <i class='bx bxs-chevron-right-circle'></i><p>Financial Management
        </p>
          <i class='bx bxs-chevron-right-circle'></i><p>shelf life analysis</p>
          <i class='bx bxs-chevron-right-circle'></i><p> lebal verification as per FSSAI
        </p>
          <i class='bx bxs-chevron-right-circle'></i><p>product development
        </p>

        <i class='bx bxs-chevron-right-circle'></i><p>vendor selection & management
        </p>
          <i class='bx bxs-chevron-right-circle'></i><p>Regulatory Assistance</p>
          <i class='bx bxs-chevron-right-circle'></i><p>Machinory selection assistance
        </p>
          <i class='bx bxs-chevron-right-circle'></i><p>Lebal Design
        </p>
        <i class='bx bxs-chevron-right-circle'></i><p>Logo Design
        </p>
          <i class='bx bxs-chevron-right-circle'></i><p>Assistance in Selection Of Product.
        </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div *ngIf="selectedItem === 'Design-Engineering'">
  <div class="container" data-aos="fade-right">
      <div class="content">
          <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image">
          </div>
        <div>
        <div class="project-details">
          <h1>Design Engineering
          </h1>
    
          <div class="section">
            <i class='bx bxs-chevron-right-circle'></i><p>Preparation of Industry Layout
          </p>
            <i class='bx bxs-chevron-right-circle'></i><p>Civil Estimate</p>
            <i class='bx bxs-chevron-right-circle'></i><p>Equipment Design
          </p>
            <i class='bx bxs-chevron-right-circle'></i><p>Chartered Civil Engineer Certificate
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div *ngIf="selectedItem === 'Production-Assistance-Service'">
    <div class="container" data-aos="fade-right">
        <div class="content">
            <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image">
            </div>
          <div>
          <div class="project-details">
            <h1>Production Assistance Service
            </h1>
      
            <div class="section">
              <i class='bx bxs-chevron-right-circle'></i><p>Manufacturing Consultation
            </p>
              <i class='bx bxs-chevron-right-circle'></i><p>Process Improvement</p>
              <i class='bx bxs-chevron-right-circle'></i><p>Supply Chain Optimization
            </p>
              <i class='bx bxs-chevron-right-circle'></i><p>Quality Assurance 
            </p>

            <i class='bx bxs-chevron-right-circle'></i><p>Documentation
            </p>
              <i class='bx bxs-chevron-right-circle'></i><p>Training and Skill Development</p>
              <i class='bx bxs-chevron-right-circle'></i><p>Contract Manufacturing
            </p>
              <i class='bx bxs-chevron-right-circle'></i><p>Auditing & Certification
            </p>

            <i class='bx bxs-chevron-right-circle'></i><p>Customized Solutions
            </p>
              <i class='bx bxs-chevron-right-circle'></i><p>Environmental and Sustainability Consulting</p>
              <i class='bx bxs-chevron-right-circle'></i><p>Regulatory Compliance
            </p>
              <i class='bx bxs-chevron-right-circle'></i><p>Emergency Response Planning
            </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div *ngIf="selectedItem === 'Machinery-Selection-Assistance'">
      <div class="container" data-aos="fade-right">
          <div class="content">
              <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image">
              </div>
            <div>
            <div class="project-details">
              <h1>Machinery Selection Assistance
              </h1>
        
              <div class="section">
                <i class='bx bxs-chevron-right-circle'></i><p> Product-wise machine selection
              </p>
                <i class='bx bxs-chevron-right-circle'></i><p>Capacity Planning</p>
                <i class='bx bxs-chevron-right-circle'></i><p>Assistance in the expansion of the existing product line
              </p>
                <i class='bx bxs-chevron-right-circle'></i><p>Packaging wise machinery assistance
              </p>

              <i class='bx bxs-chevron-right-circle'></i><p>Vendor Selection & management
              </p>
                <i class='bx bxs-chevron-right-circle'></i><p>Budget Consideration</p>
                <i class='bx bxs-chevron-right-circle'></i><p>Regulatory Compliance
              </p>
                <i class='bx bxs-chevron-right-circle'></i><p>Modern Technology & Innovation
              </p>

              <i class='bx bxs-chevron-right-circle'></i><p>Demo or Trial Period
              </p>
                <i class='bx bxs-chevron-right-circle'></i><p>Pilot Scale Trials</p>
                <i class='bx bxs-chevron-right-circle'></i><p>Chartered Mechanical Engineer Certificate
              </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <!--  -->
<div *ngIf="selectedItem === 'Architectural-Services'">
  <div class="container" data-aos="fade-right">
      <div class="content">
          <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image">
          </div>
        <div>
        <div class="project-details">
          <h1>Architectural Services
          </h1>
    
          <div class="section">
            <i class='bx bxs-chevron-right-circle'></i><p>Material Selection
          </p>
            <i class='bx bxs-chevron-right-circle'></i><p>Site Analysis</p>
            <i class='bx bxs-chevron-right-circle'></i><p>Conceptual Design
          </p>
            <i class='bx bxs-chevron-right-circle'></i><p>Design Development
          </p>

          <i class='bx bxs-chevron-right-circle'></i><p>Construction Administration
          </p>
            <i class='bx bxs-chevron-right-circle'></i><p>Interior Design</p>
            <i class='bx bxs-chevron-right-circle'></i><p>Sustainable Environmental Design
          </p>
            <i class='bx bxs-chevron-right-circle'></i><p>Renovation and Restoration
          </p>
          <i class='bx bxs-chevron-right-circle'></i><p>Visualization and Rendering
          </p>
            <i class='bx bxs-chevron-right-circle'></i><p>Post-Occupancy Evaluation</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <!--  -->
<div *ngIf="selectedItem === 'Contract-Manufacturing'">
  <div class="container" data-aos="fade-right">
      <div class="content">
          <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image">
          </div>
        <div>
        <div class="project-details">
          <h1>Contract Manufacturing
          </h1>
    
          <div class="section">
            <i class='bx bxs-chevron-right-circle'></i><p>Identification of Contract Manufacturer
          </p>
            <i class='bx bxs-chevron-right-circle'></i><p>Material Sourcing and Procurement</p>
            <i class='bx bxs-chevron-right-circle'></i><p>Packaging Services
          </p>
            <i class='bx bxs-chevron-right-circle'></i><p>Quality Control and Testing
          </p>

          <i class='bx bxs-chevron-right-circle'></i><p>Scalable Production
          </p>
            <i class='bx bxs-chevron-right-circle'></i><p>Regulatory Compliance</p>
            <i class='bx bxs-chevron-right-circle'></i><p>Collaborative Innovation

          </p>
            <i class='bx bxs-chevron-right-circle'></i><p>Confidentiality and Intellectual Property Protection
          </p>
          <i class='bx bxs-chevron-right-circle'></i><p>Vendor Selection &Management.
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <!--  -->
<div *ngIf="selectedItem === 'Site-Visit-Services'">
  <div class="container" data-aos="fade-right">
      <div class="content">
          <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image">
          </div>
        <div>
        <div class="project-details">
          <h1>Site Visit Services
          </h1>
    
          <div class="section">
            <i class='bx bxs-chevron-right-circle'></i><p>Food Safety Inspections
          </p>
            <i class='bx bxs-chevron-right-circle'></i><p>Quality Control and Assurance Audits</p>
            <i class='bx bxs-chevron-right-circle'></i><p>HACCP (Hazard Analysis and Critical Control Points) Assessments
          </p>
            <i class='bx bxs-chevron-right-circle'></i><p>Supplier Audits
          </p>

          <i class='bx bxs-chevron-right-circle'></i><p>Food Processing Facility Inspections
          </p>
            <i class='bx bxs-chevron-right-circle'></i><p>Distribution Center Audits</p>
            <i class='bx bxs-chevron-right-circle'></i><p>Certification Audits (e.g., Organic, Fair Trade)
          </p>
            <i class='bx bxs-chevron-right-circle'></i><p>Waste Management Assessments
          </p>
          <i class='bx bxs-chevron-right-circle'></i><p>New Product Development Site Visits
          </p>
            <i class='bx bxs-chevron-right-circle'></i><p>Compliance with Labeling and Packaging Standards.
          </p>
          <i class='bx bxs-chevron-right-circle'></i><p>Training and Education Programs
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <!--  -->
<div *ngIf="selectedItem === 'Merger-&-Acquisition'">
  <div class="container" data-aos="fade-right">
      <div class="content">
          <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image">
          </div>
        <div>
        <div class="project-details">
          <h1>Merger & Acquisition
          </h1>
    
          <div class="section">
            <i class='bx bxs-chevron-right-circle'></i><p>Asset valuation
          </p>
            <i class='bx bxs-chevron-right-circle'></i><p>Connecting Link Between firm/Business</p>
            <i class='bx bxs-chevron-right-circle'></i><p>Finanial Feasibility Testing 
          </p>
            <i class='bx bxs-chevron-right-circle'></i><p>Risk Assesment 
          </p>

          <i class='bx bxs-chevron-right-circle'></i><p>Horizontal Acquisition
          </p>
            <i class='bx bxs-chevron-right-circle'></i><p>Vertical Acquisition</p>
            <i class='bx bxs-chevron-right-circle'></i><p>Congeneric Acquisition
          </p>
          <i class='bx bxs-chevron-right-circle'></i><p>Conglomerate Acquisition
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
<!--  -->